<div>
  <h2 id="page-heading" data-cy="CentroDocenteHeading">
    <span jhiTranslate="saiccApp.centroDocente.home.title">Centro Docentes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="saiccApp.centroDocente.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-centro-docente"
        [routerLink]="['/centro-docente/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="saiccApp.centroDocente.home.createLabel"> Crear nuevo Centro Docente </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="centroDocentes?.length === 0">
    <span jhiTranslate="saiccApp.centroDocente.home.notFound">Ningún Centro Docentes encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="centroDocentes && centroDocentes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cve">
            <div class="d-flex">
              <span jhiTranslate="saiccApp.centroDocente.cve">Cve</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombre">
            <div class="d-flex">
              <span jhiTranslate="saiccApp.centroDocente.nombre">Nombre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="comisionDictaminadora.nombre">
            <div class="d-flex">
              <span jhiTranslate="saiccApp.centroDocente.comisionDictaminadora">Comision Dictaminadora</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let centroDocente of centroDocentes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/centro-docente', centroDocente.id, 'view']">{{ centroDocente.id }}</a>
          </td>
          <td>{{ centroDocente.cve }}</td>
          <td>{{ centroDocente.nombre }}</td>
          <td>
            <div *ngIf="centroDocente.comisionDictaminadora">
              <a [routerLink]="['/comision-dictaminadora', centroDocente.comisionDictaminadora.id, 'view']">{{
                centroDocente.comisionDictaminadora.nombre
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/centro-docente', centroDocente.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/centro-docente', centroDocente.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(centroDocente)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
