<div>
  <h2 id="page-heading" data-cy="TabuladorPromocionHeading">
    <span jhiTranslate="saiccApp.tabuladorPromocion.home.title">Tabulador Promocions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="saiccApp.tabuladorPromocion.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tabulador-promocion"
        [routerLink]="['/tabulador-promocion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="saiccApp.tabuladorPromocion.home.createLabel"> Crear nuevo Tabulador Promocion </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tabuladorPromocions?.length === 0">
    <span jhiTranslate="saiccApp.tabuladorPromocion.home.notFound">Ningún Tabulador Promocions encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="tabuladorPromocions && tabuladorPromocions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="inicioVigencia">
            <div class="d-flex">
              <span jhiTranslate="saiccApp.tabuladorPromocion.inicioVigencia">Inicio Vigencia</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="finVigencia">
            <div class="d-flex">
              <span jhiTranslate="saiccApp.tabuladorPromocion.finVigencia">Fin Vigencia</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descripcion">
            <div class="d-flex">
              <span jhiTranslate="saiccApp.tabuladorPromocion.descripcion">Descripcion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="activo">
            <div class="d-flex">
              <span jhiTranslate="saiccApp.tabuladorPromocion.activo">Activo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="modifiedBy">
            <div class="d-flex">
              <span jhiTranslate="saiccApp.tabuladorPromocion.modifiedBy">Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span jhiTranslate="saiccApp.tabuladorPromocion.createdDate">Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <div class="d-flex">
              <span jhiTranslate="saiccApp.tabuladorPromocion.lastModifiedDate">Last Modified Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tabuladorPromocion of tabuladorPromocions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tabulador-promocion', tabuladorPromocion.id, 'view']">{{ tabuladorPromocion.id }}</a>
          </td>
          <td>{{ tabuladorPromocion.inicioVigencia | formatMediumDate }}</td>
          <td>{{ tabuladorPromocion.finVigencia | formatMediumDate }}</td>
          <td>{{ tabuladorPromocion.descripcion }}</td>
          <td>{{ tabuladorPromocion.activo }}</td>
          <td>{{ tabuladorPromocion.modifiedBy }}</td>
          <td>{{ tabuladorPromocion.createdDate | formatMediumDatetime }}</td>
          <td>{{ tabuladorPromocion.lastModifiedDate | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tabulador-promocion', tabuladorPromocion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tabulador-promocion', tabuladorPromocion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(tabuladorPromocion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
