<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="comisionDictaminadora">
      <h2 data-cy="comisionDictaminadoraDetailsHeading">
        <span jhiTranslate="saiccApp.comisionDictaminadora.detail.title">Comision Dictaminadora</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ comisionDictaminadora.id }}</span>
        </dd>
        <dt><span jhiTranslate="saiccApp.comisionDictaminadora.nombre">Nombre</span></dt>
        <dd>
          <span>{{ comisionDictaminadora.nombre }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/comision-dictaminadora', comisionDictaminadora.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
