<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-centro-docente-heading"
        data-cy="CentroDocenteCreateUpdateHeading"
        jhiTranslate="saiccApp.centroDocente.home.createOrEditLabel"
      >
        Crear o editar Centro Docente
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="saiccApp.centroDocente.cve" for="field_cve">Cve</label>
          <input type="number" class="form-control" name="cve" id="field_cve" data-cy="cve" formControlName="cve" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="saiccApp.centroDocente.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nombre')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 100 }"
            >
              Este campo no puede superar más de 100 caracteres.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="saiccApp.centroDocente.comisionDictaminadora" for="field_comisionDictaminadora"
            >Comision Dictaminadora</label
          >
          <select
            class="form-control"
            id="field_comisionDictaminadora"
            data-cy="comisionDictaminadora"
            name="comisionDictaminadora"
            formControlName="comisionDictaminadora"
            [compareWith]="compareComisionDictaminadora"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="comisionDictaminadoraOption"
              *ngFor="let comisionDictaminadoraOption of comisionDictaminadorasSharedCollection"
            >
              {{ comisionDictaminadoraOption.nombre }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
